
/* Bootstrap custom border-radius */
table, input[type], textarea, button, .btn {
  border-radius: 2px;
}

/* Custom body font face */
body, label, input, button, select, textarea {
  font-family: Open\ Sans, sans-serif;
}

header {
  background: #000;
  color: #fff;
  padding: 1em 0;
  margin-bottom: 1em;
}

header input[type="text"] {
  border: 0;
}

header input[type="text"]:focus {
  box-shadow: none;
}
